.wrapper {
    width: 100%;
    height: 100%;
}

.navbar {
    position: sticky;
    z-index: 101;
    background-color: salmon !important;
}

.sidebar {
    width: 100%;
    height: 100%;
    background-color: salmon;
    position: fixed;
    z-index: 100;

}


.sidebar ul {
    padding: 0px;
    margin: -2px 0px;
}

.sidebar ul li {
    list-style: none;
    margin: 5px 10px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px 0px 10px 25px;
    transform: all 1000ms ease-in;
}

.sidebar ul li a:hover {
    background-color: white;
    border-radius: 5px;
    color: black;
}

.sidebar ul li a span {
    display: inline-block;
}

/* for laptop or higther resolution */
@media only screen and (min-width: 768px) {
    .sidebar {
        width: 240px;
    }

    .content {
        margin-left: 250px;
    }

    .content .inner {
        padding: 20px;
    }
}